body {
    background-color: black;
}

.sb {
    position: fixed;
    height: 98%;
}

.sidebar {
    height: 98%;
    width: 12%;
    min-width: 200px;
    border-radius: 15px;
    position: relative;
    left: 3px;
    top: 3px;
    padding-top: 10px;
    background: #323232;
    color: #ffff;
}

.sidebar h1 {
    text-align: center;
    font-size: 2rem;
}

.sidebar ul {
    height: 100%;
    width: 100%;
    list-style: none;
}

.sidebar li {
    margin-top: 10%;
    transition: .3s;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    right: 34px;
    height: 20px;
    padding: 12px;
    width: 159px;
    border-radius: 12px;
}

.sidebar a {
    text-decoration: none;
    padding-left: 0px;
}

.sidebar a:visited {
    color: #ffff;
}

.sidebar li:hover {
    /* padding-left: 20px; */
    background-color: #FF1E56;
    border-radius: 12px;
}

.container {
    background-color: #FF1E56;
    width: 1407px;
    height: 796px;
    position: absolute;
    left: 223px;
    top: 12px;
    border-radius: 12px;
}
