* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow-y: hidden;
}
.side_bar {
  height: 805px;
  width: 40px;
  min-width: 200px;
  border-radius: 11px;
  background: #1e1e1e;
  position: relative;
  top: 6px;
  left: 6px;
}
.side_bar ul {
  position: relative;
  top: 80px;
  left: 26px;
  list-style: none;
}
.side_bar a {
  text-decoration: none;
  color: white;
  width: 20px;
  height: 20px;
}
.side_bar li {
  font-family: "Rubik", sans-serif;
  width: 200px;
  height: 54px;
  padding: 10px 22px;
  text-align: left;
  font-size: 18px;
  position: relative;
  right: 26px;
  border-radius: 9px;
  transition: 1ms;
}
.side_bar li:hover {
  background-color:#323232;
}
.side_bar li i {
  padding-right: 7px;
}
.container {
  background-color: #1e1e1e;
  width: 1420px;
  height: 1000px;
  overflow: scroll;
  position: absolute;
  left: 214px;
  top: 6px;
  border-radius: 12px;
  
}
.white_rect {
  width: 95%;
  height: 15%;
  background: white;
  border-radius: 22px;
  position: relative;
  top: 20px;
  left: 35px;
}
#Greetings {
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 400;
  position: relative;
  top: 27px;
  left: 37px;
  height: 30px;
  width: 188px;
}
#dash_search {
  position: relative;
  left: 1187px;
  height: 35px;
  border: none;
  border-radius: 15px;
  padding: 20px;
  border: none;
  font-family: "Rubik", sans-serif;
  font-style: italic;
}
.profile {
  position: relative;
  top: 400px;
  left: 15px;
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 50%;
}
.profile_name{
  background-color: white;
  height: 50px;
  width: 180px;
  position: relative;
  top: 400px;
  left: 10px;
}
.side_bar h2{
  position: relative;
  top: 15px;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  text-align: center;
  color: white;
}
.white_rect_left{
  height: 358px;
  width: 865px;
  position: relative;
  background-color: white;
  top: 55px;
  left: 36px;
  border-radius: 24px;
}
.white_rect_right{
  height: 357px;
  width: 362px;
  position: relative;
  background-color: white;
  border-radius: 24px;
  left: 978px;
  bottom: 305px;
}
.white_rect_bottom{
  height:400px ;
  width: 1299px;
  background-color: white;
  border-radius: 24px;
  position: relative;
  bottom: 243px;
  left: 39px;
margin-right: 0%;
margin: 0%;
}