* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #1e1e1e;
}
.side_bar {
  height: 805px;
  width: 40px;
  min-width: 200px;
  border-radius: 11px;
  background: #323232;
  position: relative;
  top: 6px;
  left: 6px;
}
.side_bar ul {
  position: relative;
  top: 50px;
  left: 26px;
  list-style: none;
}
.side_bar a {
  text-decoration: none;
  color: white;
  width: 20px;
  height: 20px;
}
.side_bar li {
  font-family: "Rubik", sans-serif;
  width: 200px;
  height: 54px;
  padding: 10px 22px;
  text-align: left;
  font-size: 18px;
  position: relative;
  right: 26px;
  border-radius: 9px;
}
.side_bar li:hover {
  background-color: red;
}
.side_bar li i {
  padding-right: 7px;
}
.profile {
  position: relative;
  top: 2%;
  left: 32%;
  height: 70px;
  width: 70px;
  background: red;
  border-radius: 50%;
}
.container {
  background-color: #ff1e56;
  width: 1420px;
  height: 805px;
  position: absolute;
  left: 214px;
  top: 6px;
  border-radius: 12px;
}
